*.suo
/.vs
*.dll
*.exe
*.targets
/BIMOBWebApps/bin/roslyn
/BIMOBWebApps/bin
/BIMOBWebApps/obj/Debug
*.pdb
/BIMOBComon/obj/Debug
/BIMOBLib/obj/Debug
/BIMOBUtility/obj/Debug/BIMOBUtility.csproj.FileListAbsolute.txt
/BIMOBUtility/obj/Debug
/BIMOBUtility/obj/Release
/BIMOBModel/obj/Debug
/BIMOBComon/bin/Debug
/BIMOBLib/bin/Debug
/BIMOBModel/bin/Debug
/BIMOBUtility/bin/Debug
*.png
/BIMOBWebApps/obj/Release
/BIMOBUtility/bin/Release
/BIMOBModel/obj/Release
/BIMOBModel/bin/Release
/BIMOBLib/obj/Release
/BIMOBLib/bin/Release
/BIMOBComon/obj/Release
/BIMOBComon/bin/Release
